<p>
  By using the Lifelike Afterhours web application, you agree to use it only for lawful purposes.
</p>
<p>
  Content that you share or upload (such as scholarly articles), may be protected by intellectual property laws. By
  uploading this content, you assert that you own the rights to this content or that the rights-holder has granted a
  license that allows the work to be shared for the purposes to which the work is shared.
</p>
<p>
  For content that you create using Lifelike Afterhours, you grant us a non-exclusive, royalty-free license to host,
  distribute and display the content in the Lifelike Afterhours application. This license will end when you delete
  your content from the Lifelike Afterhours system.
</p>
<p>
  If you do not agree to these Terms of Use, do not use Lifelike Afterhours.
</p><p>
  Lifelike Afterhours is developed by this fork maintainers. We may revise these Terms of Use at any time by
  amending this page.
</p>
<h5>Privacy Policy</h5>
<p>
  The data that you used to register and sign in to Lifelike Afterhours will not be made available to any other
  parties. All of your access data will continue to be stored and used for the only purpose of allowing you to
  login. In this beta version of Lifelike Afterhours, your uploaded documents will be shared with other users.
</p>
<h5>Customer Ownership Rights</h5>
<p>
  Customer shall retain all right, title and interest in and to the Customer Created Data and Output, and all
  Intellectual Property Rights therein.
</p>
<p>
  Nothing in this Agreement will confer either or both UCSD or DTU any right of ownership or interest in the
  Customer Created Data and Output, or the Intellectual Property Rights therein.
</p>

